*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif; 
}

header{
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row{
    width: 100%;   
    display: flex;
    flex-wrap: wrap;
}

.display-flex{
    display: flex;
    flex-wrap: wrap;
}

.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    font-size: small;
}

.button{
    background-color: #0061ff;
    padding: 5px;
    border: none;
    color: white;
}

.login{
    margin-right: 5px;
    font-size: small;
}

.align-center{
    align-items: center;
}

ul{
    list-style-type: none;
}

.menu li {
    margin-left: 10px;
    margin-right: 10px;
}

.justify-end{
    justify-content: flex-end;
}

.div-button{
    margin-right: 10px;
}

.bg-lightblue{
    background-color: #b4d0e7;
}

.width-900{
    max-width: 900px;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.big-xxx{
    font-size: xxx-large;
}

.col-100{
    width: 100%;
}

.col-33{
    width: calc(100% / 3);
}

.col-66{
    width: calc((100% / 3) * 2);
}

.arrow{
    font-size: xx-large;
    margin-top: 25px;
}

.img-100{
    width: 100%;
}

.position-absolute{
    position: absolute;
}

.position-relative{
    position: relative;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-top-15vh{
    margin-top: 15vh;
}

.margin-right-20{
    margin-right: 20px;
}

.width-750{
    max-width: 750px;
    margin: 0 auto;
}

.big-xx{
    font-size: xx-large;
}

.checkbox-container {
    position: relative;
}
  
.custom-checkbox {
    display: none;
}
  
.custom-checkbox + label {
    cursor: pointer;
    padding-left: 20px;
}
  
.custom-checkbox + label:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border: 2px solid #b2b2b2;
    border-radius: 50%;
    background: transparent;
}
  
.custom-checkbox:checked + label:before {
    box-sizing: border-box;
    border: 3px solid #0061ff;
    width: 13px;
    height: 13px;
}

.border-gray{
    border: 1px solid #b2b2b2;
}

.col-33-20{
    width: calc((100% / 3) - 20px);
}

.justify-between{
    justify-content: space-between;
}

.div-head{
    border-bottom: 1px solid #b2b2b2;
    padding: 10px;
    width: 100%;
}

.div-body{
    border-top: none;
    padding: 15px;
    padding-top: 20px;
}

.small{
    font-size: small;
}

.large{
    font-size: large;
    margin-bottom: 10px;
}

.color-gray{
    color: gray;
}

.display-inline{
    display: inline;
}

.display-flex-no-wrap{
    display: flex;
}

.margin-5{
    margin-right: 5px;
}

.button-100{
    width: 100%;
}

.color-blue{
    color: #0061ff;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.margin-top-30{
    margin-top: 30px;
}

.col-75{
    width: 75%;
}

.col-25{
    width: 25%;
}

.margin-bottom-25{
    margin-bottom: 25px;
}

.margin-top-70{
    margin-top: 70px;
}

.img{
    width: 100%;
}

.margin-partner{
    margin: 15% 20px 20px 20px;
}

.button-partner{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px;
    margin-top: 10px;
}

.square{
    width: 50%;
    height: calc(100vw / 6);
}

.squares-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.logos{
    fill: white;
    width: 60%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sq1{
    background-color: #a2d39b;
    border: 10px solid #d1e9cd;
}

.sq2{
    background-color: #61082b;
}

.sq3{
    background-color: #0093ce;
}

.sq4{
    background-color: #ff1c1c;
}

.sq5{
    background-color: #d5001f;
}

.sq6{
    background-color: #b4d0e7;
}

.sq7{
    background-color: #0d2481;
}

.sq8{
    background-color: #ffd830;
}

.bg-gray{
    background-color: #f5f5f5;
}

.padding-20{
    padding: 20px;
}

.logo-big{
    width: 50%;
}

.color-darkred{
    color: #5f0429;
}

.margin-bottom-70{
    margin-bottom: 70px;
}

.button-try{
    padding: 5px;
    border: none;
}

.col-66-40{
    width: calc((100% / 3) * 2 - 30px);
}

.col-33-40{
    width: calc((100% / 3)- 30px);
}

.gap-30{
    gap: 30px 30px;
}